@font-face {
  font: {
     family: 'Avenir';
     weight: 800;
     style: 'normal';
  }
  src: asset-url('avenir.eot', font);
  src: asset-url('avenir.eot', font) format('embedded-opentype'),
       asset-url('avnir.woff', font) format('woff'),
       asset-url('avenir.ttf', font) format('truetype')
}
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}
a, a:hover {
  @include transition-property(color);
  @include transition-duration(.65s);
}
li {
  list-style-type: none;
}
input:focus {
  outline: none !important;
}
.row.full-width {
  min-width: 100%;
  .columns {
    padding: 0 emCalc(45px);
  }
}
.special-link a {
  position: relative;
}
.special-link a:hover {
  text-decoration: none;
}
.special-link a::after {
  position: absolute;
  top: 95%;
  left: 0;
  width: 100%;
  height: 2px;
  background: $body-font-color;
  content: '';
  opacity: 0;
  -webkit-transition: all .45s ease;
    -moz-transition: all .45s ease;
    transition: all .45s ease;
  -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    transform: translateY(2px);
}
.special-link a:hover::after,
.special-link a:focus::after {
  opacity: 1;
  -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

/****************
*** Keyframes ***
****************/

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2em);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
  @-moz-keyframes fadeInUp {
    0% {
      opacity: 0;
      -moz-transform: translateY(2em);
    }
    100% {
      opacity: 1;
      -moz-transform: translateY(0);
    }
  }
  @-o-keyframes fadeInUp {
    0% {
      opacity: 0;
      -o-transform: translateY(2em);
    }
    100% {
      opacity: 1;
      -o-transform: translateY(0);
    }
  }
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(2em);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
.delay-fade {
  -webkit-animation: fadeInUp 2s;
    -moz-animation: fadeInUp 2s;
    -o-animation: fadeInUp 2s;
    animation: fadeInUp 2s;
}

